<div class="page-header">
  <div class="icon">
    <span class="ico-arrow-right"></span>
  </div>
  <h1>Loto bonheur - <%= session[:bet] %> <%= session[:formula] %><small><%= session[:bet] == '1N' ? 'Saisissez votre numéro' : "Saisissez vos numéros séparés d'un espace" %> (Entre 1 et 90)</small></h1>
</div>

<div class="row-fluid">
  <%= form_tag loto_select_bet_path do %>
    <% if session[:formula] == 'Simple' || session[:formula] == 'Perm' %>
      <div class="row-form">
        <div class="span12">
          <input type="text" name="numbers" placeholder="Numéros"/>
          <span class="bottom">Numéros</span>
        </div>
      </div>
    <% end %>
    <div class="row-form">
      <div class="span12">
        <input type="text" name="selection" placeholder="Sélection"/>
        <span class="bottom">Sélection</span>
      </div>
    </div>
    <div class="row-form">
      <div class="span12">
        <input type="text" name="stake" placeholder="Mise de base"/>
        <span class="bottom">Mise de base</span>
      </div>
    </div>
    <div class="row-form">
      <div class="span12">
        <button class="btn">Valider <span class="icon-arrow-next icon-white"></span></button>
      </div>
    </div>
    <div class="row-form">
      <div class="span12">
        <%= link_to 'Retour', loto_formula_selection_path(session[:bet]) %>
      </div>
    </div>
  <% end %>
  <div class="row-form">
    <div class="span12">
      <%= link_to 'Accueil', root_path %>
    </div>
  </div>
</div>
