<div class="page-header">
  <div class="icon">
    <span class="ico-arrow-right"></span>
  </div>
  <h1>Loto bonheur<small>Choisissez votre jour de tirage</small></h1>
</div>

<div class="row-fluid">
  <div class="row-form">
    <div class="span12">
      <%= link_to "1- Etoile " + (-16 + DateTime.parse("01/01/#{Date.today.year} 17:00:00").upto(DateTime.now).count(&:monday?)).to_s, loto_bet_selection_path('Etoile') %>
    </div>
  </div>
  <div class="row-form">
    <div class="span12">
      <%= link_to "2- Emergence " + (-16 + DateTime.parse("01/01/#{Date.today.year} 17:00:00").upto(DateTime.now).count(&:tuesday?)).to_s, loto_bet_selection_path('Emergence') %>
    </div>
  </div>
  <div class="row-form">
    <div class="span12">
      <%= link_to "3- Fortune " + (-8 + DateTime.parse("01/01/#{Date.today.year} 17:00:00").upto(DateTime.now).count(&:wednesday?)).to_s, loto_bet_selection_path('Fortune') %>
    </div>
  </div>
  <div class="row-form">
    <div class="span12">
      <%= link_to "4- Privilège " + (-16 + DateTime.parse("01/01/#{Date.today.year} 17:00:00").upto(DateTime.now).count(&:thursday?)).to_s, loto_bet_selection_path('Privilege') %>
    </div>
  </div>
  <div class="row-form">
    <div class="span12">
      <%= link_to "5- Solution " + (-17 + DateTime.parse("01/01/#{Date.today.year} 17:00:00").upto(DateTime.now).count(&:friday?)).to_s, loto_bet_selection_path('Solution') %>
    </div>
  </div>
  <div class="row-form">
    <div class="span12">
      <%= link_to "6- Diamant " + (-8 + DateTime.parse("01/01/#{Date.today.year} 17:00:00").upto(DateTime.now).count(&:saturday?)).to_s, loto_bet_selection_path('Diamant') %>
    </div>
  </div>
  <div class="row-form">
    <div class="span12">
      <%= link_to '0- Retour', list_games_path %>
    </div>
  </div>
  <div class="row-form">
    <div class="span12">
      <%= link_to '00- Accueil', root_path %>
    </div>
  </div>
</div>
