<div class="page-header">
  <div class="icon">
    <span class="ico-arrow-right"></span>
  </div>
  <h1>Bienvenue <small>Sur Parionsdirect</small></h1>
</div>

<div class="row-fluid">
  <div class="row-form">
    <div class="span12">
      <%= link_to '1- Jeux', list_games_path %>
    </div>
  </div>
  <div class="row-form">
    <div class="span12">
      <%= link_to '2- Mes paris', list_game_bets_path %>
    </div>
  </div>
  <div class="row-form">
    <div class="span12">
      <%= link_to '3- Mon solde', paymoney_balance_path %>
    </div>
  </div>
  <div class="row-form">
    <div class="span12">
      <%= link_to '4- Rechargement', '#' %>
    </div>
  </div>
  <div class="row-form">
    <div class="span12">
      <%= link_to '5- Votre service SMS', '#' %>
    </div>
  </div>
  <div class="row-form">
    <div class="span12">
      <%= link_to '6- Mes OTP - codes retraits', list_otp_path %>
    </div>
  </div>
  <div class="row-form">
    <div class="span12">
      <%= link_to '8- Mes comptes', saved_paymoney_account_path %>
    </div>
  </div>
  <div class="row-form">
    <div class="span12">
      <%= link_to 'Accueil', root_path %>
    </div>
  </div>
</div>
