<div class="page-header">
  <div class="icon">
    <span class="ico-arrow-right"></span>
  </div>
  <h1>Parionsdirect<small>Formulaire de création de compte</small></h1>
</div>

<div class="row-fluid">
  <%= form_tag create_parionsdirect_account_path do %>
    <div class="row-form">
      <div class="span12">
        <input type="text" value = "<%= @pseudo %>" name="pseudo" placeholder="Pseudonyme"/>
        <span class="bottom">Pseudonyme</span>
      </div>
    </div>
    <div class="row-form">
      <div class="span12">
        <input type="text" value = "<%= @password %>" name="password" placeholder="Mot de passe"/>
        <span class="bottom">Mot de passe</span>
      </div>
    </div>
    <div class="row-form">
      <div class="span12">
        <input type="text" value = "<%= @password_confirmation %>" name="password_confirmation" placeholder="Confirmation du mot de passe"/>
        <span class="bottom">Confirmation du mot de passe</span>
      </div>
    </div>
    <div class="row-form">
      <div class="span12">
        <input type="text" value = "<%= @firstname %>" name="firstname" placeholder="Nom"/>
        <span class="bottom">Nom</span>
      </div>
    </div>
    <div class="row-form">
      <div class="span12">
        <input type="text" value = "<%= @lastname %>" name="lastname" placeholder="Prénoms"/>
        <span class="bottom">Prénoms</span>
      </div>
    </div>
    <div class="row-form">
      <div class="span12">
        <input type="text" value = "<%= @email %>" name="email" placeholder="Email"/>
        <span class="bottom">Email</span>
      </div>
    </div>
    <div class="row-form">
      <div class="span12">
        <input type="text" value = "<%= @birthdate %>" class = "mask_date" name="birthdate" placeholder="Date de naissance"/>
        <span class="bottom">Date de naissance</span>
      </div>
    </div>
    <div class="row-form">
      <div class="span12">
        <button class="btn">Valider <span class="icon-arrow-next icon-white"></span></button>
      </div>
    </div>
  <% end %>
</div>
