<div class="page-header">
  <div class="icon">
    <span class="ico-arrow-right"></span>
  </div>
  <h1>PMU ALR<small>
  <%= session[:alr_national] %><br />
  <% session[:race_data].each do |race_data| %>
    <% if race_data["race_id"] == session[:alr_program_id] + '0' + session[:alr_national_index] %>
      <%= race_data["name"] %><br />
      Nombre de partants: <%= race_data["max_runners"] %><br />
      Non partants: <%= race_data["scratched_list"] %><br />
    <% end %>
  <% end %>
  Choisissez votre type de pari</small></h1>
</div>

<div class="row-fluid">
    <% session[:race_data].each do |race_data| %>
      <% if race_data["race_id"] == session[:alr_program_id] + '0' + session[:alr_national_index] %>
        <% bet_ids = race_data["bet_ids"].gsub('-SALE', '').split(',') rescue [] %>
        <% custom_index = 0 %>
        <% if bet_ids.include?('4') %>
          <div class="row-form">
            <div class="span12">
              <%= link_to "#{custom_index+=1}- Couplé placé", pmu_alr_generic_formula_selection_path('couple_place') %>
            </div>
          </div>
        <% end %>
        <% if bet_ids.include?('2') %>
          <div class="row-form">
            <div class="span12">
              <%= link_to "#{custom_index+=1}- Couplé gagnant", pmu_alr_generic_formula_selection_path('couple_gagnant') %>
            </div>
          </div>
        <% end %>
        <% if bet_ids.include?('7') %>
          <div class="row-form">
            <div class="span12">
              <%= link_to "#{custom_index+=1}- Tiercé", pmu_alr_generic_formula_selection_path('tierce') %>
            </div>
          </div>
        <% end %>
        <% if bet_ids.include?('14') %>
          <div class="row-form">
            <div class="span12">
              <%= link_to "#{custom_index+=1}- Tiercé", pmu_alr_generic_formula_selection_path('tierce2') %>
            </div>
          </div>
        <% end %>
        <% if bet_ids.include?('8') %>
          <div class="row-form">
            <div class="span12">
              <%= link_to "#{custom_index+=1}- Quarté", pmu_alr_generic_formula_selection_path('quarte') %>
            </div>
          </div>
        <% end %>
        <% if bet_ids.include?('10') %>
          <div class="row-form">
            <div class="span12">
              <%= link_to "#{custom_index+=1}- Quinté", pmu_alr_generic_formula_selection_path('quinte') %>
            </div>
          </div>
        <% end %>
        <% if bet_ids.include?('11') %>
          <div class="row-form">
            <div class="span12">
              <%= link_to "#{custom_index+=1}- Quinté +", pmu_alr_generic_formula_selection_path('quinte_plus') %>
            </div>
          </div>
        <% end %>
        <% if bet_ids.include?('13') %>
          <div class="row-form">
            <div class="span12">
              <%= link_to "#{custom_index+=1}- Multi", pmu_alr_multi_formula_selection_path %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% if session[:race_data].blank? %>
    <div class="row-form">
      <div class="span12">
        Paris fermés pour cette course
      </div>
    </div>
  <% end %>
  <div class="row-form">
    <div class="span12">
      <%= link_to "#{custom_index+=1}- Infos sur la course", pmu_alr_race_details_path %>
    </div>
  </div>
  <div class="row-form">
    <div class="span12">
      <%= link_to '0- Retour', pmu_alr_path %>
    </div>
  </div>
  <div class="row-form">
    <div class="span12">
      <%= link_to '00- Accueil', root_path %>
    </div>
  </div>
</div>
