<div class="page-header">
  <div class="icon">
    <span class="ico-arrow-right"></span>
  </div>
  <h1>PMU ALR<small>
  Informations de la course</small></h1>
</div>

<div class="row-fluid">
  <div class="row-form">
    <div class="span12">
      <% session[:race_data].each do |race_data| %>
        <% if race_data["race_id"] == session[:alr_program_id] + '0' + session[:alr_national_index] %>
          <%= race_data["name"] %><br />
          Nombre de partants: <%= race_data["max_runners"] %><br />
          Non partants: <%= race_data["scratched_list"] %><br />
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row-form">
    <div class="span12">
      <%= link_to '0- Retour', pmu_alr_path %>
    </div>
  </div>
  <div class="row-form">
    <div class="span12">
      <%= link_to '00- Accueil', root_path %>
    </div>
  </div>
</div>
