<div class="page-header">
  <div class="icon">
    <span class="ico-arrow-right"></span>
  </div>
  <h1>PMU ALR<small>
<%= session[:alr_national] %> > <%= session[:alr_bet_type] %> > <%= session[:alr_formula] %><br />
<%= session[:alr_base].blank? ? '' : 'Base: ' + session[:alr_base] %><br />
<% session[:race_data].each do |race_data| %>
  <% if race_data["race_id"] == session[:alr_program_id] + '0' + session[:alr_national_index] %>
    <%= race_data["name"] %><br />
    Nombre de partants: <%= race_data["max_runners"] %><br />
    Non partants: <%= race_data["scratched_list"] %><br />
  <% end %>
<% end %>
Saisissez les numéros de vos <%= session[:alr_multi_type] %> chevaux séparés par un espace</small></h1>
</div>

<div class="row-fluid">
  <% ['7', '8', '10', '11'].include?(session[:alr_bet_type_code]) ? url = pmu_alr_full_formula_path : url = pmu_alr_stake_path %>
  <%= form_tag url do %>
    <div class="row-form">
      <div class="span12">
        <input type="text" name="selection" placeholder="Numéros de chevaux"/>
        <span class="bottom">Numéros de chevaux</span>
      </div>
    </div>
    <div class="row-form">
      <div class="span12">
        <button class="btn">Valider<span class="icon-arrow-next icon-white"></span></button>
      </div>
    </div>
  <% end %>
  <div class="row-form">
    <div class="span12">
      <%= link_to 'Retour', pmu_alr_path %>
    </div>
  </div>
  <div class="row-form">
    <div class="span12">
      <%= link_to 'Accueil', root_path %>
    </div>
  </div>
</div>
