<div class="page-header">
  <div class="icon">
    <span class="ico-arrow-right"></span>
  </div>
  <h1>PMU PLR<small>Réunion: R<%= session[:plr_reunion_number] %> - Course: C<%= session[:plr_race_number] %><br />
<%= session[:plr_number_of_horses] %> partants <%= session[:plr_begin_date] %><br />
<%= session[:bet_type_value] %> > <%= session[:plr_formula_value] %><br />
<%= session[:plr_selection].blank? ? '' : 'Chevaux: ' + session[:plr_selection] + " " %>
<%= session[:plr_base].blank? ? '' : ' Base: ' + session[:plr_base] %><br />
Veuillez saisir le nombre de fois que vous souhaitez miser</small></h1>
</div>

<div class="row-fluid">
  <%= form_tag plr_evaluate_bet_path do %>
    <div class="row-form">
      <div class="span12">
        <input type="text" name="plr_stake" placeholder="Nombre de fois"/>
        <span class="bottom">Nombre de fois</span>
      </div>
    </div>
    <div class="row-form">
      <div class="span12">
        <button class="btn">Valider <span class="icon-arrow-next icon-white"></span></button>
      </div>
    </div>
  <% end %>
  <div class="row-form">
    <div class="span12">
      <%= link_to 'Retour', plr_path %>
    </div>
  </div>
  <div class="row-form">
    <div class="span12">
      <%= link_to 'Accueil', root_path %>
    </div>
  </div>
</div>
